<!DOCTYPE html>
<html lang="en">
<head>
  <title>Claire's Wonderful Bookmark</title>
  
  <link rel="stylesheet" href="style.css">

</head>

<body>

  <div class="main-nav">
    <ul class="nav">
      <li class= "logo"> TAG</li>
      <li><a href ="/bookmark/new" class="button button__blue">Home</a>
      </li>
      <li><a href="/bookmark/new" class="button button__blue">Tag A Page</a>
      </li>
      <li><a href="/bookmark" class="button button__blue">All Tags</a>
      </li>
    </ul>
  </div>
  <br>
  <br>

<header>
  <img src="images/saul.bass.jpg" alt="cover of books" class="profile-image">
  <h1 class="tag name"> Hello, This is Tag an easy way to store all those must reads.<h1>
</header>
<br>
<br>
<br>

<main class="flex">
  <div class="card">
        <span class="card-title">Welcome</span>
        <p> Tag is a simple way to store all those sites you come across but don't have time to read right there and then. Rather than the regular bookmark which will see your resources getting lost in a sea of lists, let bookmark keep them organised and safe for you!</p>
  </div>
  <br>
  <br>

  <div class="card">
        <span class="card-title">Get Started</span>
          <p><a herf="/bookmark/new">Enter The Details Below</a>
            <%=yield%>
          </p>
      </div>    

</main>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

  <footer>
    <ul>
      <li><a href="http://codeclan.com" target="_blank" class="social codeclan">CodeClan</a></li>
      <li><a href="https://www.facebook.com" target="_blank" class="social facebook">Facebook</a></li>
      <li><a href="https://github.com" target="_blank" class="social Github">Github<a></li>
    </ul>
    <p class="copyright"> Tag 2016, Claire Smith</p>
  </footer>

</body>
<html>


 


