<h2>Tag Pages</h2>




<form action = "/bookmark/new" method="post">

<label>First Name:</label>
<input type= "text" name="first_name">

<label>Last Name:</label>
<input type="text" name="last_name">

<label>Title:</label>
<input type= "text" name="title">

<label>Genre</label>
<select name='genre'>
<option value="News Article">News Article</option>
<option value ="Academia">Academia</option>
<option value="Personal">Personal</option>
<option value="Business">Business</option>
<option value="Random">Random</option>
</select>

<label>URL</label>
<input type= "text" name="url">

<input type="submit" value ="Tag Page">
</form>




