<h2>Tag Pages</h2>




<form action = "/bookmark" method="post">

<label>First Name:</label>
<input type= "text" name="first_name">

<label>Last Name:</label>
<input type="text" name="last_name">

<label>Title:</label>
<input type= "text" name="Title">

<label>Genre</label>
<select name='Genre'>
<option value="News Article">News Article</option>
<option value ="Comedy">Comedy</option>
<option value="Hobby">Hobby</option>
<option value="Personal">Personal</option>
<option value="Business">Business</option>
</select>

<label>URL</label>
<input type= "text" name="URL">




<input type="submit" value ="Tag Page">
</form>




